[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
moto = "*"
pytest = "*"
boto3 = "*"
botocore = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.8"
